<div class="item row" style="border: 1px solid #000000; margin: 10px; padding: 10px;">
    <div class="col-md-10">
        <div style="float: right; min-width: 200px;">
            <span class="duration">{{courseItem.duration}} min</span> &nbsp;&nbsp;
            <span class="created">{{courseItem.creationDate}}</span>
        </div>
        <h2>{{courseItem.title}}</h2>
        <p>{{courseItem.description}}</p>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit">Edit</button><br>
        <button class="btn btn-primary" type="submit" (click)="onClick($event)">Delete</button><br>
    </div>

</div>