<div class="search-component">
    <button class="btn btn-primary" type="submit" style="float:right;">Add course</button>

    <div class="form-inline">
        <label class="sr-only" for="inlineFormInputSearch">Search</label>
        <input [(ngModel)]="searchInput" type="text" style="margin: 0 10px 0 0" class="form-control mb-2" id="inlineFormInputSearch" placeholder="Name, Fragment or date">

        <button type="submit" class="btn btn-primary mb-2" (click)="searchInit($event, searchInput)">Submit</button>
    </div>
</div>